body {

    color: black;
    background-color: rgb(65,179,163);
}

.jumbotron {
  text-align: left;
  color: black;
  background-color: rgb(65,179,163);
  font-weight: bold
}


/*Color combos*/
/*rgb(226, 125, 96)
rgb(232, 168, 124)
rgb(65,179,163)
rgb(133,220,186)*/
